body {
  margin: 0;
  padding: 0px;
}

.result {
  overflow-x: auto;
  overflow-y: auto;
  width: 45%;
  height: 30vh;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* Seeting up whole editor container 
btn, editor, background */
.editor-container {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  background-color: #272822;
  width: 45%;
  height: 60%;
  float: right;
  font-size: 25px;
  margin-top: 40px;
  position: fixed; /* Do i need this? */
  right: 0;
}

/* Just cuz DRY */
.btn-container > button {
  font-family: sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-top: 230px;
  border-radius: 0.2rem;
  font-size: 15px;
}

/* Individual btn setup */
.btn-editor-run {
  width: 155px;
  height: 35px;
  margin-left: 10px;
  border: none;
  background-color: #007fff;
  color: #ffffff;
}

/* Individual btn setup */
.btn-editor-reset {
  margin-left: 5px;
  width: 120px;
  color: #ffffff;
  height: 35px;
  border: 2px solid #ffffff;
  background: transparent;
}

/* Btn icons setup */
.material-icons {
  font-size: 18px;
  margin-right: 1.5px;
}
/* displayMessage or table */
.result-container {
  background-color: #272822;
  color: white;
  font-family: sans-serif;
  padding: 0.6rem;
  width: 45%;
  height: 32%;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 18px;
}

table {
  margin-top: 15px;
  text-align: center;
  margin-right: 15px;

  width: 100%;
  border: 1px solid white;
}

.thead,
tr {
  background-color: #007fff;
}

.tr,
th {
  white-space: nowrap;
  padding: 1rem;
  text-align: center;
  background-color: #007fff;
}

tbody,
tr:nth-child(odd) {
  background-color: #272822;
}

.tbody,
tr,
td {
  white-space: nowrap;
  width: 20%;
  overflow-wrap: break-word;
  padding: 0.5rem;
}
/* holding buttons for table */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  font-weight: 700;
  margin: 12px;
  border-radius: 0.2rem;
  font-size: 15px;
  width: 130px;
  height: 25px;
  margin-left: 10px;
  border: none;
  background-color: #007fff;
  color: #ffffff;
}

/* if user reach maximum page text of button change to gray */
.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
